@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* .inline-code {
    background-color: #f5f2f0; 
    color: #d6336c; 
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
  }
    pre {
    padding: 1em;
    border-radius: 4px;
    overflow: auto;
  } */
  
  
  /* li {
    list-style-type: lower-alpha; 
  } */

  .markdown > * {
  all: revert;
}

.markdown table {
  border-collapse: collapse;
  width: 100%;
}
.markdown th, .markdown td {
  border: 1px solid #ddd;
  padding: 8px;
}
.markdown th {
  background-color: #f4f4f4;
  text-align: left;
}

.markdown p {
  width: fit-content;
}